___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [3]:
import pandas as pd
import numpy as np

In [4]:
from numpy.random import randn
np.random.seed(101)

In [50]:
#randn(5 <-row ,4 <- col)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [51]:
df

          W         X         Y         Z
A -0.497104 -0.754070 -0.943406  0.484752
B -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366
D  1.025984 -0.156598 -0.031579  0.649826
E  2.154846 -0.610259 -0.755325 -0.346419

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [10]:
df['W']

A   -1.005187
B   -1.382920
C    0.992573
D   -1.467514
E    0.392489
Name: W, dtype: float64

In [12]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A -1.005187 -0.732845
B -1.382920 -2.141212
C  0.992573  1.292765
D -1.467514  0.485809
E  0.392489  1.541990

In [13]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A   -1.005187
B   -1.382920
C    0.992573
D   -1.467514
E    0.392489
Name: W, dtype: float64

DataFrame Columns are just Series

In [14]:
#datafram is a bunch of series that share same indexing
type(df['W'])

pandas.core.series.Series

#### Creating a new column:

In [15]:
df['new'] = df['W'] + df['Y']

In [16]:
df

          W         X         Y         Z       new
A -1.005187 -0.741790  0.187125 -0.732845 -0.818062
B -1.382920  1.482495  0.961458 -2.141212 -0.421462
C  0.992573  1.192241 -1.046780  1.292765 -0.054206
D -1.467514 -0.494095 -0.162535  0.485809 -1.630049
E  0.392489  0.221491 -0.855196  1.541990 -0.462707

##### Removing Columns

In [17]:
df.drop('new',axis=1)

          W         X         Y         Z
A -1.005187 -0.741790  0.187125 -0.732845
B -1.382920  1.482495  0.961458 -2.141212
C  0.992573  1.192241 -1.046780  1.292765
D -1.467514 -0.494095 -0.162535  0.485809
E  0.392489  0.221491 -0.855196  1.541990

In [18]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A -1.005187 -0.741790  0.187125 -0.732845 -0.818062
B -1.382920  1.482495  0.961458 -2.141212 -0.421462
C  0.992573  1.192241 -1.046780  1.292765 -0.054206
D -1.467514 -0.494095 -0.162535  0.485809 -1.630049
E  0.392489  0.221491 -0.855196  1.541990 -0.462707

In [19]:
df.drop('new',axis=1,inplace=True)

In [20]:
df

          W         X         Y         Z
A -1.005187 -0.741790  0.187125 -0.732845
B -1.382920  1.482495  0.961458 -2.141212
C  0.992573  1.192241 -1.046780  1.292765
D -1.467514 -0.494095 -0.162535  0.485809
E  0.392489  0.221491 -0.855196  1.541990

Can also drop rows this way:

In [21]:
df.drop('E',axis=0)

          W         X         Y         Z
A -1.005187 -0.741790  0.187125 -0.732845
B -1.382920  1.482495  0.961458 -2.141212
C  0.992573  1.192241 -1.046780  1.292765
D -1.467514 -0.494095 -0.162535  0.485809

In [24]:
#DF= sort of numoy array
df.shape

(5, 4)

#### Selecting Rows

In [29]:
#loc -> location index, iloc -> numericalindex
df.loc['A']  
#df['W']  # df[col][row]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

##### Or select based off of position instead of label

In [54]:
#df.iloc[2,2:4]  #index must be numeric
df.iloc[2]

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: C, dtype: float64

##### Selecting subset of rows and columns

In [27]:
df.loc['B','Y']

0.9614581560918355

In [35]:
df.loc[['A','B'],['W','Y']]
# df[['W','Y']][['A','B']] -> ERROR [X]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [19]:
df['W']['A'] #df[col][row]

2.706849839399938

In [7]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [8]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
df[df['W']>0]
#you will only get tur values

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [11]:
df[df['Z'] <0 ]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [206]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [36]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

##### For two conditions you can use | and & with parenthesis:

In [38]:
df[(df['W']>0) & (df['Y'] > 1)]  # | =? or

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

## set_index() VS reset_index()

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [57]:
df

          W         X         Y         Z
A -0.497104 -0.754070 -0.943406  0.484752
B -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366
D  1.025984 -0.156598 -0.031579  0.649826
E  2.154846 -0.610259 -0.755325 -0.346419

In [56]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A -0.497104 -0.754070 -0.943406  0.484752
1     B -0.116773  1.901755  0.238127  1.996652
2     C -0.993263  0.196800 -1.136645  0.000366
3     D  1.025984 -0.156598 -0.031579  0.649826
4     E  2.154846 -0.610259 -0.755325 -0.346419

In [40]:
newind = 'CA NY WY OR CO'.split() #initializing a list
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [58]:
df['States'] = newind
df

          W         X         Y         Z States
A -0.497104 -0.754070 -0.943406  0.484752     CA
B -0.116773  1.901755  0.238127  1.996652     NY
C -0.993263  0.196800 -1.136645  0.000366     WY
D  1.025984 -0.156598 -0.031579  0.649826     OR
E  2.154846 -0.610259 -0.755325 -0.346419     CO

In [59]:
df.set_index('States')

               W         X         Y         Z
States
CA     -0.497104 -0.754070 -0.943406  0.484752
NY     -0.116773  1.901755  0.238127  1.996652
WY     -0.993263  0.196800 -1.136645  0.000366
OR      1.025984 -0.156598 -0.031579  0.649826
CO      2.154846 -0.610259 -0.755325 -0.346419

In [215]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [60]:
df.set_index('States',inplace=True)

In [61]:
df

               W         X         Y         Z
States
CA     -0.497104 -0.754070 -0.943406  0.484752
NY     -0.116773  1.901755  0.238127  1.996652
WY     -0.993263  0.196800 -1.136645  0.000366
OR      1.025984 -0.156598 -0.031579  0.649826
CO      2.154846 -0.610259 -0.755325 -0.346419

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [42]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [44]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [43]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [62]:
df2 = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df2

             A         B
G1 1  0.147027 -0.479448
   2  0.558769  1.024810
   3 -0.925874  1.862864
G2 1 -1.133817  0.610478
   2  0.386030  2.084019
   3 -0.376519  0.230336

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [64]:
df2.loc['G1']

          A         B
1  0.147027 -0.479448
2  0.558769  1.024810
3 -0.925874  1.862864

In [67]:
df2.loc['G1'].loc[1] #df2.loc['G1'].loc[1,'A']

A    0.147027
B   -0.479448
Name: 1, dtype: float64

In [69]:
df2.index.names

FrozenList([None, None])

In [70]:
df2.index.names = ['Group','Num']

In [71]:
df2

                  A         B
Group Num
G1    1    0.147027 -0.479448
      2    0.558769  1.024810
      3   -0.925874  1.862864
G2    1   -1.133817  0.610478
      2    0.386030  2.084019
      3   -0.376519  0.230336

##### Cross section

In [72]:
df2.xs('G1')

            A         B
Num
1    0.147027 -0.479448
2    0.558769  1.024810
3   -0.925874  1.862864

In [73]:
df2.xs(['G1',1])

A    0.147027
B   -0.479448
Name: (G1, 1), dtype: float64

In [76]:
df2.xs(1,level='Num') #fetch a row from all outer index

              A         B
Group
G1     0.147027 -0.479448
G2    -1.133817  0.610478

# Great Job!